/* CSS BAGIAN GUEST */

/* NAVBAR START */

/* Link */
#inventaris .navbar .navbar-nav a.nav-link {
	margin: .75rem .25rem;
	padding: 1.2rem;
	border-radius: .4rem;
}

#inventaris .navbar .navbar-nav a.nav-link:hover {
	background: #e5e5e5;
}

#inventaris .navbar .navbar-nav a.nav-link.active {
	color: white;
	background: linear-gradient(-47deg, #8731E8 0%, #4528DC 100%);
}


#inventaris .navbar .navbar-nav a.nav-link.active:hover {
	background: linear-gradient(-15deg, #8731E8db 0%, #4628dcdb 100%);
}

/* Search */
#inventaris .form-search-inventaris {
	padding: .5rem 1.35rem;
	box-shadow: -1px 1px 3px rgba(0, 0, 0, .3);
	border-radius: 16px;
	outline: none;
	border: none;
}

#inventaris .btn-search-inventaris {
	margin-left: 6px;
	padding: .5rem .75rem;
	border: none;
	border-radius: 50%;
	transition: all .35s ease-in;
}

#inventaris .btn-search-inventaris:hover {
	color: white;
	background: #000;
	background: linear-gradient(-47deg, #8731E8 0%, #4528DC 100%);
	border-radius: 25%;
}

/* Card */
#inventaris .btn-pinjam-inventaris {
	padding: .5rem .75rem;
	color: white;
	background: #000;
	font-weight: bolder;
	background: linear-gradient(-47deg, #8731E8 0%, #4528DC 100%);
	border-radius: 8px;
}

.btn:hover {
	/* padding: .5rem .75rem; */
	color: white;
	border-radius: 8px;
	box-shadow: rgba(0, 0, 0, 0.623) 0px 0px 15px;
}



#inventaris .btn-pinjam-inventaris svg {
	transition: all .5s ease-in-out;
}


/* Shine effect */
/* .icon {
	position: relative;
	overflow: hidden;
	width: 50px;
	height: 50px;
	display: inline-block;

	margin: 25px 0 25px 25px;
	border-radius: 5px;
	color: #fff;
	text-decoration: none;
	text-align: center;
	line-height: 50px;
	font-size: 12px;
	font-family: sans-serif;
} */

.icon:before {
	content: '';
	position: absolute;
	top: 0;
	left: -500px;
	width: 300px;
	height: 100%;
	background: rgba(255, 255, 255, 0.3);
	transform: skewX(-30deg);
	animation-name: slide;
	animation-duration: 5s;
	animation-timing-function: ease-in-out;
	/* animation-delay: 5s; */
	animation-iteration-count: infinite;
	/* animation-direction: alternate; */
	background: linear-gradient(to right,
			rgba(255, 255, 255, 0.13) 0%,
			rgba(255, 255, 255, 0.13) 77%,
			rgba(255, 255, 255, 0.18) 82%,
			rgba(255, 255, 255, 0.0) 100%);
}

@keyframes slide {
	0% {
		opacity: 0;
		left: 0;
		top: 0;
	}

	50% {
		opacity: 1;
		left: 100px;
		top: 0px;
	}

	100% {
		opacity: 0;
		left: 200px;
		top: 0;
	}
}

.glass:hover {
	transition: all;
	transition-duration: 1s;
	box-shadow: rgba(0, 0, 0, 0.568) 0px 0px 30px;
}

.glass {
	transition: all;
	transition-duration: 1s;
	/* From https://css.glass */
	background: rgba(142, 146, 255, 0.29);
	/* border-radius: 16px; */
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(6.6px);
	-webkit-backdrop-filter: blur(6.6px);
	border: 1px solid rgba(60, 62, 117, 0.3);
}

.glassModal {
	background: rgba(0, 0, 0, 0.28);
	/* border-radius: 16px; */
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(6.6px);
	-webkit-backdrop-filter: blur(6.6px);
	border: 1px solid rgba(0, 0, 0, 0.3);
}

.isi {
	color: white;
}

.btn-reg-inv {
	background: rgb(0, 219, 210);
	background: linear-gradient(132deg, rgba(0, 219, 210, 1) 0%, rgba(0, 14, 255, 1) 100%);
}

.form-error {
	/* background-color: red; */
	border: 2px solid red;
	border-radius: 5px;
	font-weight: bolder;
}

.form-group {
	height: 90px;
}

.kecil {
	height: 35px;
}

.tambah-btn {
	/* background: linear-gradient(-47deg, #8731E8 0%, #4528DC 100%); */
	margin-bottom: 0px !important;
	font-weight: bolder;
	border-radius: 8px;
	/* padding: 5px 5px 5px 5px; */
}

.btnd {
	font-size: 15px;
	font-weight: 500;
	color: #fff;
	background-color: gray;
	line-height: 1;
	text-align: center;
	padding: 18px 30px;
	border: 0 none;
	border-radius: 6px;
	outline: 0 none;
	position: relative;
	z-index: 1;
}

.tambah-btn-checked {
	color: #4528DC;
	font-weight: bolder;
	border-radius: 8px;
	margin-bottom: 0px !important;
	background: rgb(40, 254, 255);
	background: linear-gradient(132deg, rgba(40, 254, 255, 1) 0%, rgba(0, 255, 68, 1) 100%);
}

.btn-peminjaman {
	font-size: 15px;
	font-weight: 500;
	color: #fff;
	line-height: 1;
	text-align: center;
	padding: 5px 10px !important;
	border: 0 none;
	border-radius: 6px;
	outline: 0 none;
	position: relative;
	z-index: 1;
}

.btn-dangerti {
	display: inline-block;
	font-weight: 400;
	color: #212529;
	text-align: center;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: transparent;
	border: 1px solid transparent;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: 0.25rem;
	background-color: rgb(207, 29, 29) !important;
	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.button {
	display: inline-block;
	font-weight: bolder;
	color: #ffffff;
	text-align: center;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: transparent;
	border: 1px solid transparent;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: 0.25rem;
	/* background: linear-gradient(-47deg, #8731E8 0%, #4528DC 100%); */
	border-radius: 8px;
	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;

}

/* NAVBAR END */
